.todoAppForm {
  color: rgb(0, 17, 255);
  display: grid;
  grid-template-columns: 1fr auto;
}

.todoAppAddButton {
  border: 0;
  color: #4d4d4d;
  width: 80px;
  cursor: pointer;
  background: #73b3fc;
  font-weight: bold;
  padding: 22px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 15px;
}
.todoAppAddButton:hover{
  background-color: #2f7de4;
}

.todoInput {
  line-height: 1.2;
  border: 0;
  background: rgba(0, 0, 0, 0.003);
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  color: inherit;
  padding-left: calc(15px + 20px);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #e6e6e6;
}
