.todoApp {
    background: rgba(196, 255, 246, 0.84);
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

  .todoAppTitle {
    text-align: center;
    color: rgba(6, 61, 240, 0.15);
  }
