* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  font-family: "Times New Roman", Times, serif;
  background-color: #91a5ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 57, 155);
}
