.todoInput{
    width: 75%;
    height: 25px;
    margin: 5px;
    padding: 5px;

}
.btnAdd{
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    justify-content: center;
    background-color: rgb(196, 196, 247);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.btnAdd:hover{
    background-color: rgb(125, 125, 250);
    cursor: pointer;
}
.btnAdd:active{
    outline:rgb(241, 247, 247);
}